<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @ticket.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @ticket.body %>
</p>

<ul>
  <%= @ticket.response each do |response| %>
    <li>response.body</li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
